:root {
  --main-beige: #E9E7DB;
  --main-green: #2F7201;
  --main-blue: #0A4A91;
  --main-yellow: #FBEB7C;
  --main-red: #BA171A;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* ********** GLOBAL ********** */
html {
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ********** HEADER ********** */
header .container {
  font-weight: bold;
  background-image: url(/images/header-ornament.svg);
  background-position: 50% 10%;
  background-repeat: no-repeat;
  background-size: 10rem;
  margin-bottom: 1.5;
}

header {
  background-image: url(/images/background-ornament-header.svg);
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: 4rem;
  margin-bottom: 1.5rem;
}

nav {
  font-size: 1.1rem;
}

nav ul {
  display: flex;
  justify-content: end;
  gap: .8rem;
  padding-top: .7rem;
}

nav ul li:last-child {
  padding-right: .9rem;
}

/* ********** WELCOME ********** */
.text {
  padding-top: 10rem;
  max-width: 70%;
  line-height: 1.5;
  font-size: 2rem;
  padding-left: 3rem;
  margin: 0 auto;
}

h1,
p {
  display: inline;
}

.name {
  color: var(--main-green);
}

/* ********** SECTION WORK ********** */
.work {
  background-color: var(--main-beige);
  background-image: url(/images/background-ornament.svg);
  background-position: 20% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.work .container {
  padding: 2.5rem 0;
}

.txt {
  width: 80%;
  grid-gap: 1.5rem;
  color: #fff;
  padding-top: 2rem;
  margin-left: 2rem;
  line-height: 1.5;
  font-weight: 600;
}

.two .txt {
  color: #000;
}

h2 {
  font-size: 4rem;
  margin-bottom: .7rem;
  font-weight: 800;
}

.work a {
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
  padding-bottom: .9rem;
  margin-bottom: 1.5rem;
  display: block;
}

.work a {
  transition: all 0.5s;
}

.one {
  background-color: var(--main-blue);
}

.two {
  background-color: var(--main-yellow);
}

.three {
  background-color: var(--main-red);
}

/* ********** CONTACT ********** */
.blue {
  position: relative;
  top: -8rem;
  width: 100%;
  display: none;
}

.blue img {
  width: 200px;
  height: auto;
}

footer {
  background-image: url(/images/background-ornament-footer.svg);
  background-position: right -4rem top 16rem;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.foto {
  z-index: 3;
}

.foto img {
  max-width: 500px;
  width: 100%;
}

footer .container {
  display: grid;
  place-content: center;
}

.contact {
  z-index: 5;
  font-weight: 400;
  margin: 1rem auto;
  border: 1px solid;
  padding-bottom: 1rem;
}

.contact .txt {
  width: 80%;
  max-width: 400px;
  color: #000;
  line-height: 2;
}

.contact h2 {
  font-size: 3rem;
  color: var(--main-beige);
  text-align: center;
}

/* +++++++++++++++ MEDIA QUERIES +++++++++++++++ */
@media (min-width: 1200px) {

  ul li {
    border-bottom: 2px solid transparent;
  }

  .link-one:hover {
    border-bottom: 2px solid var(--main-blue);
  }

  .link-two:hover {
    border-bottom: 2px solid var(--main-yellow);
  }

  .link-three:hover {
    border-bottom: 2px solid var(--main-red);
  }

  .work articles {
    min-width: 100%;
  }

  header .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1.5rem;
    background-size: 30rem;
    background-position: 77% 25%;
  }

  header {
    background-size: 10rem;
    display: flex;
    justify-content: right;
  }

  nav {
    grid-column: 10 / span 3;
    font-size: 1.1rem;
    margin-top: 1rem;
    position: fixed;
    justify-self: end;
  }

  nav ul {
    display: flex;
    gap: 1.5rem;
    padding-top: 0;
    justify-content: center;

  }

  nav ul li:last-child {
    padding-right: 2rem;
  }

  a {
    text-decoration: none;
    color: inherit;
    outline: none;
  }

  /* ********** WELCOME ********** */
  .welcome {
    grid-column: 2 / span 9;
  }

  .text {
    padding-top: 5rem;
    max-width: 80%;
    position: relative;
    line-height: 1.5;
    font-size: 3rem;
    padding-left: 0;
  }

  /* ********** WORK ********** */

  .work .container a {
    max-width: 365px;
  }

  .work a {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 0;
    padding-bottom: .9rem;
  }

  .work .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 100px);
    padding: 0;
  }

  .one {
    grid-column: 2 / span 3;
    grid-row: 2 / span 3;
    background-color: var(--main-blue);
  }

  .two {
    grid-column: 9 / span 3;
    grid-row: 5 / span 3;
    background-color: var(--main-yellow);
  }

  .three {
    grid-column: 3 / span 3;
    grid-row: 7 / span 3;
    background-color: var(--main-red);
  }

  .work a:hover h2 {
    font-size: 0;
  }

  .one:hover {
    background-image: url(/images/caloncho.png);
    background-position: 0% 32%;
    background-repeat: no-repeat;
    background-size: 255%;
    font-size: 0;
  }

  .two:hover {
    background-image: url(/images/catena.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
    font-size: 0;
  }

  .three:hover {
    background-image: url(/images/guid.png);
    background-position: 50% 17%;
    background-repeat: no-repeat;
    background-size: 140%;
    font-size: 0;
  }


  /* ********** CONTACT ********** */
  .blue {
    display: block;
  }

  footer {
    min-height: 100%;
  }

  footer .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 106px);
    grid-gap: 1.5rem;
  }

  .foto {
    grid-column: 1 / 7;
    grid-row: 3 / 7;
    z-index: 3;
  }

  .foto img {
    width: 100%;
    max-width: 750px;
  }

  .contact {
    grid-column: 6 / span 5;
    grid-row: 2 / span 3;
    z-index: 5;
    border: 1px solid black;
    font-weight: 400;
    margin: 0;
    max-width: 540px;
  }

  .contact .txt {
    width: 80%;
    color: #000;
    padding-left: 4rem;
    margin-top: -1.3rem;
  }

  .contact h2 {
    font-size: 5rem;
    color: var(--main-beige);
    margin-top: -4.2rem;
    margin-left: -35rem;
    text-align: left;
  }

  .mail,
  .link {
    border-bottom: 2px solid transparent;
  }

  .mail:hover {
    border-bottom: 2px solid var(--main-blue);
  }

  .link:hover {
    border-bottom: 2px solid var(--main-green);
  }
}