:root {
  --main-beige: #E9E7DB;
  --main-green: #2F7201;
  --main-blue: #0A4A91;
  --main-yellow: #FBEB7C;
  --main-red: #BA171A;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* ********** GLOBAL ********** */
body {
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
  max-width: 1200px;
}

/* ********** HEADER ********** */
header .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1.5rem;
  height: 100vh;
  font-weight: bold;
}

nav {
  grid-column: 10 / span 3;
  font-size: 1.1rem;
  margin-top: 1rem;
  /* border: solid 2px red; */
}

nav ul {
  display: flex;
  border: solid 2px red;
}

.welcome {
  grid-column: 1 / span 9;
  /* border: solid 2px red; */
  margin-left: 1.5rem;
}

.text {
  padding-top: 5rem;
  max-width: 750px;
  position: relative;
  line-height: 1.5;
  font-size: 3rem;
}

h1,
p {
  display: inline;
}

.name {
  color: var(--main-green);
}

.ornament {
  height: 500px;
  width: 500px;
  position: absolute;
  bottom: 16rem;
  left: 36rem;
  z-index: -1;
}

/* ********** SECTION WORK ********** */
.work {
  background-color: var(--main-beige);
  background-image: url(/images/background-ornament.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.work article {
  width: 250px;
  height: 250px;
  background-color: violet;
}

.work .container {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
}

.one {
  margin-left: 11rem;
  border: 2px solid red;
}